@model PagedList.IPagedList<DiscordWebApp.Models.User>

<div id="userList">
    <div class="pagedList" data-dwa-target="#userList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Date Joined
            </th>
            <th>
                Last Active
            </th>
            <th>
                Last Online
            </th>
            <th>
                Number of Flowers
            </th>
            <th>
                Server Id
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastOnline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfFlowers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>